<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script type="importmap">
      { "imports": { "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.prod.js" } }
    </script>

</head>

<body>
    <main>
        <h1 class="title">{{ page_title }}</h1>
        {% block content %}{% endblock %}
    </main>

    {% block scripts %}{% endblock %}
</body>

</html>