{# layouts/asset/edit_asset.html #}
{% extends "layouts/base.html" %}

{% block title %}
    {% if asset %}Modifica Asset{% else %}Nuovo Asset{% endif %}
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vue/create-asset.css') }}">
{% endblock %}

{% block content %}
<div id="asset-edit-widget"
  data-submit-url="{{ url_for('evaluation.update_asset', session_id=session_id, device_id=device_id, asset_id=asset.asset_id) }}"
  data-cancel-url="{{ url_for('evaluation.get_asset_evaluation_detail', session_id=session_id, device_id=device_id, asset_id=asset.asset_id) }}"
  data-redirect-url="{{ url_for('evaluation.get_asset_evaluation_detail', session_id=session_id, device_id=device_id, asset_id=asset.asset_id) }}"
  data-initial-name="{{ asset.asset_name }}"
  data-initial-asset-type="{{ asset.asset_type }}"
  data-initial-description="{{ asset.asset_description }}">
</div>


{% endblock %}

{% block scripts %}
  <script type="module" src="{{ url_for('static', filename='vue/create-asset.js') }}"></script>
  <script type="module" src="{{ url_for('static', filename='vue/edit-asset-widget.js') }}"></script>

{% endblock %}