{# layouts/device/create_device.html #}
{% extends "layouts/base.html" %}

{% block title %}
    {% if device %}Modifica {{ device.name }}{% else %}Nuovo Dispositivo{% endif %}
{% endblock %}


{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='vue/create-device.css') }}">
{% endblock %}

{% block content %}
  {# Lasciamo solo il div di innesto. Tutto il resto (Titolo e Form) lo gestisce Vue #}
  <div id="create-device-app"></div>
{% endblock %}

{% block scripts %}
  <script type="module" src="{{ url_for('static', filename='vue/create-device.js') }}"></script>
{% endblock %}